<h1>Editing alerts history</h1>

<%= render "form", alerts_history: @alerts_history %>

<br>

<div>
  <%= link_to "Show this alerts history", @alerts_history %> |
  <%= link_to "Back to alerts histories", alerts_histories_path %>
</div>
