<div id="<%= dom_id alert %>">
  <p>
    <strong>Minimum price:</strong>
    <%= alert.minimum_price %>
  </p>

  <p>
    <strong>Maximum price:</strong>
    <%= alert.maximum_price %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= alert.stock_id %>
  </p>

</div>
